
<h1>Edit Article</h1>

<form method="post" action="/admin/article/edit/{{articles.id}}">

            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{articles.name}}"
            placeholder="Article Name">

            <label for="slug">Slug</label>
            <input type="text" name="slug" id="slug" value="{{articles.slug}}"
            placeholder="Article Slug">

            <label for="image">Image</label>
            <input type="text" name="image" id="image" value="{{articles.image}}"
            placeholder="Article image">

            <label for="body">Body</label>
            <textarea name="body" id="body"
            placeholder="Article Body" value="{{articles.body}}"></textarea>

            <label for="author_id">Author id</label>
            <input type="text" name="author_id" id="author_id" placeholder="Article author">

            <input type="hidden" name="id" value="{{articles.id}}">

            <button type="submit" class="button">Update Article</button>
    </form>

    <h2>Delete Article</h2>
    <form method="post" action="/admin/article/delete/{{articles.id}}">

        <input type="hidden" name="id" value="{{articles.id}}">
        <button type="submit" class="button danger">Delete Article</button>
    </form>
